auto-save-list/
eln-cache/
elpa/
transient/
straight/
eshell/
snippets/
.extension/
workspace/
url/
eclipse.jdt.ls/
gnus/
games/
tutorial/
desktops/
debug-adapters/
.cache/
tree-sitter/
emms/
eaf/

.dap-breakpoints
.lsp-session-*
dape-breakpoints
projects
bookmarks
tramp
history
places
config.el
config.html
config.odt
.emacs.custom.el

